.world-clocks-toggle-setting {

	& .world-clocks-toggle-control {
		border: none;
		box-shadow: none;
		display: flex;
		flex: 1;
		flex-direction: row;
		flex-wrap: wrap;

		&:focus-within {
			box-shadow: none;
		}

		& > div {
			align-items: center;
			box-sizing: border-box;
			display: flex;
			flex: 1;
			flex-basis: calc(50% - 12px);
			flex-direction: column;
			justify-content: center;
			margin: 6px;
			max-width: calc(50% - 12px);
			padding: 16px;
		}
	}
}

.not-allowed-keys-error {
	color: var(--c-red);
	font-style: italic;
}
