.world-clocks-toggle-setting {

	& .world-clocks-toggle-control {
		gap: 8px;

		& > div {
			display: inline-flex;
			flex: 1 1 0;
			max-inline-size: 100%;
			min-inline-size: 0;
			padding: 8px;
			position: relative;

			& button div {
				max-inline-size: 100%;
			}
		}
	}
}

.not-allowed-keys-error {
	color: var(--c-red);
	font-style: italic;
}
