@import url("../../../assets/css/global/colors.css");

.has-clocks-layout-digital-column,
.has-clocks-layout-digital-row,
.has-clocks-layout-clock,
.has-clocks-layout-clock-reverse {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

.has-clocks-layout-digital-column,
.has-clocks-layout-clock,
.has-clocks-layout-clock-reverse {
	text-align: center;
}
